@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Inter ,"Lexend Deca", sans-serif;
    color: white;
}
body {
    background-color: hsl(233, 47%, 7%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;

}
main {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(277, 46%, 25%);
    border-radius: 1rem;
    max-width: 20rem;
    max-height: 90vh;
    margin: auto;
    overflow: hidden;
}
.mobileImg {
    max-width: 20rem;
    margin-bottom: 1rem;
    opacity: .2;
}
.deskImg {
    display: none;
}
h1 {
    text-align: center;
    margin: 1rem 0rem;
}
span {
    color: hsl(277, 64%, 61%);
}
p {
    font-size: 0.9375;
    font-family: "lexend deca";
}
.mainPara {
    text-align: center;
    margin: 0 1rem;
    line-height: 1.5;
    color: hsla(0, 0%, 100%, 0.75);
}
section > p {
    text-transform: uppercase;
}
h2,
.sectionPara {
    text-align: center;
}
h2 {
    margin-top: 2rem;
    margin-bottom: .3rem;
}
.sectionPara {
    color: hsla(0, 0%, 100%, 0.6);
}
section:last-child {
    margin-bottom: 2rem;
}
@media only screen and (min-width:600px) {
    

    body{
        flex-direction: row-reverse;
    }
    .background-color-div{
        background-color:hsl(277, 46%, 25%);
    }
    main {
        display:flex;
        flex-direction: row-reverse;
        max-width: 54rem;
        height: 400px;
        margin: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-color:hsl(244, 38%, 16%) ;
    }
    .deskImg{
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        height: 400px;
    }
    .main{
        height: 400px;
        width: 400px;
        padding:2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    h1{
        text-align: start;
    }
    .mainPara,
    h2,
    .mainPara{
        text-align: start;
        padding:0;
        margin: 0;
    }
    .mobileImg {
        display: none;
    }
    .deskImg {
        display:block;
        width: 27rem;
        opacity: .2
    }
    .main {
        padding:2rem;

    }
    .stats {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        gap: 3rem;
    }
    .mainPara {
        margin-bottom: 3rem;
    }
}



